/* Basic layout styles */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  overflow: hidden;
}

/* Fonts and other typographical settings */

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
  margin: 0.8rem 0 0.4rem 0;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.15rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.85rem;
}

p {
  margin: 0 0 0.5rem 0;
}

hr {
  border: 0;
  border-top: 1px solid #CCC;
  height: 0;
}

/* Basic list styles */

ul,
ol {
  margin: 0;
  padding: 0 0 0 1.5em;
}

button {
  border: 1px solid #999;
  padding: 0.25em 0.75em;
  background-color: #FFF;
  font: inherit;
  color: inherit;
  transition: background-color 0.2s;
}

button:hover,
button.hover {
  background-color: #EEE;
}

button:active,
button.active {
  background-color: #CCC;
}

button:disabled {
  background-color: #EEE;
  border-color: #BBB;
  color: #BBB;
}

input,
label {
  display: block;
  width: 100%;
}

input {
  color: inherit;
  font: inherit;
  /* line-height must be normal in Firefox, make it the same cross-browser */
  line-height: normal;
  outline: none;
  border: 1px solid #999;
  padding: 0.25em 0.5em;
  margin: 0 0 0.5rem 0;
  transition: 0.2s border-color;
}

input:focus {
  border-color: #666;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto;
  padding: 0;
  border: none;
}

.hut-tabs .tabs-section {
  /* Hide content until it is selected */
  display: none;
  padding: 0.5rem 1rem;
  border: 1px solid #999;
  border-top: none;
}

.hut-tabs .tabs-section.tabs-selected {
  display: block;
}

.hut-tabs .tabs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #999;
}

.hut-tabs .tabs-list li {
  float: left;
  margin: 0 0 -1px 0;
  padding: 0.25rem 0.75rem;
  border: 1px solid transparent;
  border-bottom-color: #999;
  cursor: pointer;
}

.hut-tabs .tabs-list li.tabs-selected {
  border-color: #999;
  /* Remove border beneath the tab */
  border-bottom-color: #FFF;
  cursor: default;
}

/* Clear the tabs list without using overflow: hidden */

.hut-tabs .tabs-list:after {
  content: "";
  display: table;
  clear: both;
}

body {
  margin: 0 auto;
  padding: 0 10px 10px 10px;
  max-width: 600px;
}

img {
  width: 100%;
}