.hut-tabs .tabs-list {
    list-style: none;
    margin: 0;
    padding: 0;

    border-bottom: 1px solid #CCC;
}

.hut-tabs .tabs-list li {    
    float: left;
    margin: 0 0 -1px 0;
    padding: 10px 15px;
    
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;

    border-bottom-color: #CCC;
    
    cursor: pointer;
}

.hut-tabs .tabs-list li.tabs-selected {
    border-color: #CCC;
    border-bottom-color: #FFF;
    
    cursor: default;
}

/* Clearfix */
.hut-tabs .tabs-list:before,.hut-tabs 
.tabs-list:after {
    content: "";
    display: table;
}
.hut-tabs .tabs-list:after {
    clear:both;
}

.hut-tabs .tabs-section {
    display: none;

    padding: 5px;
    border: 1px solid #CCC;
    border-top: none;
}

.hut-tabs .tabs-section.tabs-selected {
    display: block;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    overflow: auto;
    padding: 0 10px;
}

.content {
    overflow: hidden;
    max-width: 500px;
    margin: 0 auto;
}

img {
    width: 100%;
}